<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recipe">
            <h2><span>Recipe</span> {{recipe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{recipe.description}}</span>
                </dd>
                <dt><span>Prep Time</span></dt>
                <dd>
                    <span>{{recipe.prepTime}}</span>
                </dd>
                <dt><span>Cook Time</span></dt>
                <dd>
                    <span>{{recipe.cookTime}}</span>
                </dd>
                <dt><span>Servings</span></dt>
                <dd>
                    <span>{{recipe.servings}}</span>
                </dd>
                <dt><span>Source</span></dt>
                <dd>
                    <span>{{recipe.source}}</span>
                </dd>
                <dt><span>Url</span></dt>
                <dd>
                    <span>{{recipe.url}}</span>
                </dd>
                <dt><span>Directions</span></dt>
                <dd>
                    <span>{{recipe.directions}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="recipe.image">
                        <a (click)="openFile(recipe.imageContentType, recipe.image)">open</a>
                        {{recipe.imageContentType}}, {{byteSize(recipe.image)}}
                    </div>
                </dd>
                <dt><span>Difficulty</span></dt>
                <dd>
                    <span>{{recipe.difficulty}}</span>
                </dd>
                <dt><span>Notes</span></dt>
                <dd>
                    <div *ngIf="recipe.notes">
                        <a [routerLink]="['/notes', recipe.notes?.id, 'view']">{{recipe.notes?.id}}</a>
                    </div>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <span *ngFor="let category of recipe.categories; let last = last">
                        <a [routerLink]="['/category', category?.id, 'view' ]">{{category.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recipe', recipe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
