<div>
    <h2 id="page-heading">
        <span>Recipes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recipe" [routerLink]="['/recipe/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Recipe
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="recipes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Description</span></th>
            <th><span>Prep Time</span></th>
            <th><span>Cook Time</span></th>
            <th><span>Servings</span></th>
            <th><span>Source</span></th>
            <th><span>Url</span></th>
            <th><span>Directions</span></th>
            <th><span>Image</span></th>
            <th><span>Difficulty</span></th>
            <th><span>Notes</span></th>
            <th><span>Category</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recipe of recipes ;trackBy: trackId">
                <td><a [routerLink]="['/recipe', recipe.id, 'view' ]">{{recipe.id}}</a></td>
                <td>{{recipe.description}}</td>
                <td>{{recipe.prepTime}}</td>
                <td>{{recipe.cookTime}}</td>
                <td>{{recipe.servings}}</td>
                <td>{{recipe.source}}</td>
                <td>{{recipe.url}}</td>
                <td>{{recipe.directions}}</td>
                <td>
                    <a *ngIf="recipe.image" (click)="openFile(recipe.imageContentType, recipe.image)">open</a>
                    <span *ngIf="recipe.image">{{recipe.imageContentType}}, {{byteSize(recipe.image)}}</span>
                </td>
                <td>{{recipe.difficulty}}</td>
                <td>
                    <div *ngIf="recipe.notes">
                        <a [routerLink]="['../notes', recipe.notes?.id, 'view' ]" >{{recipe.notes?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let category of recipe.categories; let last = last">
                            <a class="form-control-static" [routerLink]="['../category', category?.id, 'view' ]">{{category.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/recipe', recipe.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/recipe', recipe.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'recipe/'+ recipe.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
